---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

/books/blog/ /blog/

# Redirects to other sites
/goto/wax/ https://www.amazon.com/Wax-Therese-Ambrosi-Smith/dp/0984400079/ref=sr_1_1?ie=UTF8&qid=1344044562&sr=8-1&keywords=Therese+ambrosi+smith 302
/goto/roho/ http://bancroft.berkeley.edu/ROHO/projects/rosie/ 302
/goto/kaiser-permanente/ http://www.kaiserpermanentehistory.org/tag/therese-ambrosi-smith/ 302
/goto/northwest-author-fair/ https://bobsbeachbooks.net/47-2/ 302
/goto/highway92succulents/ https://highway92succulents.com/ 302
/goto/filoli/ https://filoli.org/ 302
/goto/eagleharborbooks/ https://www.eagleharborbooks.com/ 302
/goto/villagebooks/ https://www.villagebooks.com/ 302
/goto/four-eyed-frog/ https://foureyedfrog.com/ 302
/goto/flintridgebooks https://www.flintridgebooks.com/ 302
/goto/abookforallseasons/ https://www.abookforallseasons.com/ 302
/goto/bobsbeachbooks/ https://bobsbeachbooks.net/ 302
/goto/orcabooks/ https://www.orcabooks.com/ 302
/goto/auntiesbooks/ https://www.auntiesbooks.com/ 302
/goto/bookandgame/ http://www.bookandgame.com/ 302

# Blog
/2011/03/13/the-genesis-of-the-tin-can-camper-book-tour/ /blog/the-genesis-of-the-tin-can-camper-book-tour/
/2011/03/20/1954-beemer/ /blog/1954-beemer/
/2011/03/26/field-of-dreams/ /blog/field-of-dreams/
/2011/03/30/exfoliating-mighty-mouse/ /blog/exfoliating-mighty-mouse/
/2011/04/06/sylvias-famous-camping-spaghetti-sauce/ /blog/sylvias-famous-camping-spaghetti-sauce/
/2011/04/14/during-and-after-photos/ /blog/during-and-after-photos/
/2011/06/08/rosie-the-icon/ /blog/rosie-the-icon/
/2011/08/02/wonderful-bookstores/ /blog/wonderful-bookstores/
/2011/09/01/bobs-beach-books-authors-fair/ /blog/bobs-beach-books-authors-fair/
/2011/09/11/publication-party/ /blog/publication-party/
/2011/09/18/the-frogman-and-four-eyed-frog-books/ /blog/the-frogman-and-four-eyed-frog-books/
/2011/10/02/the-grand-circle-of-washington-and-why-you-should-never-take-a-kiwi-on-a-book-tour/ /blog/the-grand-circle-of-washington-and-why-you-should-never-take-a-kiwi-on-a-book-tour/
/2011/10/05/book-tour-cat-and-book-store-cat/ /blog/book-tour-cat-and-book-store-cat/
/2011/10/20/wwii-home-front-festival/ /blog/wwii-home-front-festival/
/2011/10/20/thank-you-kaiser-heritage/ /blog/thank-you-kaiser-heritage/
/2011/10/30/wwii-american-home-front-oral-history-project/ /blog/wwii-american-home-front-oral-history-project/
/2012/07/10/hello-world/ /blog/wheels/
/2012/08/07/utopian-experiment/ /blog/utopian-experiment/
/2012/09/04/the-cats-name-is-loofie/ /blog/the-cats-name-is-loofie/
/2012/09/07/one-year-later/ /blog/one-year-later/
/2012/10/18/the-fjord-queen-on-the-rocks/ /blog/the-fjord-queen-on-the-rocks/
/2012/11/07/many-hands-make-light-work/ /blog/many-hands-make-light-work/
/2012/12/10/detour/ /blog/detour/
/2013/04/05/help-preserve-history/ /blog/help-preserve-history/
/2013/05/01/the-new-book/ /blog/the-new-book/
/2013/06/26/the-new-business/ /blog/the-new-business/
/2014/06/25/rosie-the-lgbt-riveter-special-from-newsweek/ /blog/rosie-the-lgbt-riveter-special-from-newsweek/
/2014/06/25/the-new-business-a-year-later/ /blog/the-new-business-a-year-later/
