<header class="container flex-col items-center justify-center w-full bg-header-pattern bg-no-repeat bg-right-top">
  <div class="container max-w-3xl py-24">
    <div class="mx-auto text-center">
      <a href="/" class="italic text-6xl font-bold text-red-600">Therese Ambrosi Smith</a>

      <div class="border-[3px] border-red-600 mt-2"></div>

      <div class="border-2 border-gray mt-1"></div>

      <p class="italic text-3xl font-bold text-black mt-2">Author</p>
    </div>
  </div>

  <div class="container">
    <div class="text-black font-bold text-sm">

      <nav class="flex flex-wrap border-b border-white" style="background: url('https://s0.wp.com/wp-content/themes/pub/liquorice/images/border.gif') repeat-x top">

        {% set menuArray = [
          {
            title: 'Author',
            url: "/"
          },
          {
            title: 'Blog',
            url: "/blog/"
          },
          {
            title: 'Books',
            url: "/books/"
          },
          {
            title: 'Places',
            url: "/places/"
          },
          {
            title: 'Events',
            url: "/events/"
          },
          {
            title: 'About Wax',
            url: "https://womeninthe1940s.com/"
          },
          {
            title: 'Contact',
            url: "/contact/"
          }
        ] %}

        {% for item in menuArray %}
          <a class="uppercase block p-3 hover:text-red-600 hover:bg-stone font-extrabold transition-all {{ 'bg-stone text-red-600' if item.url == permalink }}"
             {{ 'target="_blank"' if item.newTab }}
             href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% endfor %}

      </nav>
    </div>
  </div>

</header>
