<script defer data-domain="thereseambrosismith.com" src="https://firebird.beastful.org/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

{# Google tag (gtag.js) #}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8WPENBGZR0"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-8WPENBGZR0');</script>
