<script defer data-domain="thereseambrosismith.com" src="https://plausible.io/js/script.js"></script>

{# Google tag (gtag.js) #}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8WPENBGZR0"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-8WPENBGZR0');</script>
