<section class="py-12 container grid items-center justify-center grid-cols-1 md:grid-cols-3 gap-8">
  <div>
    {% image "/images/therese-ambrosi-smith.jpg", "", [auto], "mx-auto max-w-[250px] object-cover aspect-box object-top" %}
  </div>

  <div class="prose md:col-span-2">
    <h2>Therese Ambrosi Smith</h2>

    She is a UCLA Writers' Program student, draws inspiration from her work and travel experiences for
    her short fiction. Her visit to the Rosie the Riveter/WWII Home Front National Historic Park in 2006 resulted in her
    receiving a collection of oral histories from Park Ranger Elizabeth Tucker, which has influenced her work. Her first
    novel, Wax, has been published, and she plans to travel in a vintage camper for her upcoming "Tin Can Camper Book
    Tour," which can be followed on her website.
  </div>
</section>
