<section class="py-12 container grid items-center justify-center grid-cols-1 md:grid-cols-3 gap-8">
  <div>
    {% image "/images/therese-ambrosi-smith.jpg", "", [250], "mx-auto max-w-[250px] object-cover aspect-box object-top" %}
  </div>

  <div class="prose md:col-span-2">
    <h2 class="mb-0">About Author</h2>
    <p class="my-0">Therese Ambrosi Smith became fascinated by a remarkable collection of WWII oral histories at the Rosie the Riveter/WWII
      Home Front National Historic Park, and her debut novel, Wax, was born. Her short fiction has incorporated personal
      tales of work and travel: climbing mountains, surveying logging roads, designing parks and playgrounds, tending
      bar and selling fish. She completed the UCLA Writers' Program in June 2009, and is currently embarking on a "tin
      can camper book tour."</p>
  </div>
</section>
