<section class="py-12 container grid items-center grid-cols-3 gap-8 prose">
  <div class="col-span-1">
    {% image "/images/therese-ambrosi-smith.jpg", "", [auto] %}
  </div>

  <div class="col-span-2">
    Therese Ambrosi Smith wrote of young women choosing lives different from their mothers' as a UCLA Writers' Program
    student. Her personal tales of work and travel: climbing mountains, surveying logging roads, designing parks and
    playgrounds, tending bar and selling fish, were the subjects of her short fiction.

    In 2006, she visited the Rosie the Riveter/WWII Home Front National Historic Park and was offered a remarkable
    collection of oral histories by Park Ranger Elizabeth Tucker. Since then, stories of real-life "Rosies" have
    informed her work. Wax is her first novel.

    Therese has rescued a wreck of a vintage camper from a field near Peru, Indiana; it will be "home"for her upcoming
    "Tin Can Camper Book Tour". You can follow her progress polishing aluminum and learning to back into small spaces,
    by clicking on her website.
  </div>
</section>
